<#@ template language="C#" visibility="internal" #>
<#@ assembly name="System.Core" #>
using System;
using Simple1C.Interface.ObjectModel;

namespace <#=Model.Namespace#>
{
	[Synonym("<#=Model.Synonym#>")]
<#if(Model.MaxLength.HasValue) {#>	[MaxLength(<#=Model.MaxLength.Value#>)]
<#}#>	public class <#=Model.Name#> : Constant<<#=Model.Type#>>
	{
	}
}<#+
public ConstantFileModel Model { get; set; }
#>