<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILMerge" version="2.14.1208" targetFramework="net45" />
  <package id="Irony" version="0.9.1" targetFramework="net45" />
  <package id="Npgsql" version="3.1.7" targetFramework="net45" />
  <package id="Remotion.Linq" version="2.0.2" targetFramework="net45" />
</packages>